.header 
{
    padding: 10px 16px;
}

.sticky 
{
    position: fixed;
    top: 0;
    width: 100%
 }

body
{    
    height: 100%;
    background-color: #9CBCDA; 
}

.container 
{
    margin-top: 50px;
}

.left-col 
{
   background-color: #E2B329;
   margin-left: -8.1%
}

.mid-col 
{
   background-color:#ffffff;
}

.right-col 
{
    background-color: #9CBCDA;
    margin-right: -8.3%
}

.sticky + .content 
{
    padding-top: 102px;
}