.header 
{
    padding: 10px 16px;
}

.sticky 
{
    position: fixed;
    top: 0;
    width: 100%
 }

body
{    
    height: 100%;
    background-color: #9CBCDA !important; 
}

.container 
{
    margin-top: 50px;
}

.left-col 
{
   background-color: #E2B329;
   margin-left: -10.0%    
}

.mid-col 
{
   background-color:#ffffff;
}

.right-col 
{
    background-color: #9CBCDA;
    margin-right: -10.0%
}

/*
.sticky + .content 
{
    padding-top: 102px;
}*/