html.body{
    margin: 0;
    padding: 0;
}
hr{
    border: 0.5px solid black;
}
.centerText{
    text-align: center;
}
div.hl-header{
    position: fixed;
    z-index: 9999;
}
div.hl-header-main{
    display: flex;
    /* background-image: linear-gradient(rgb(0, 28, 14), rgb(0, 132, 68), rgb(0, 28, 14)); */
    background-image: linear-gradient(to right, rgb(0, 80, 40), rgb(0, 132, 68), rgb(0, 80, 40));
    color: white;
    width: 100%;
    height: 75px;
}
div.hl-header-left{
    display: inline-flex;
    align-items: center;
    width: 80%;
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    
}
a.hl-header-left{
    text-decoration: none;
    color: white;
}
div.hl-header-right{
    display: inline-flex;
    justify-items: right;
    align-items: center;
    width: 20%;
    font-size: 18pt;
    font-family: 'Courier New', Courier, monospace;
}
a.hl-header-right{
    text-decoration: none;
    color: rgb(218, 218, 218);
    padding-right: 15%;
    font-size: 16pt;
}
a.hl-header-right:hover{
    color: white;
}
div.hl-subheader{
    display: block;
    background-image: linear-gradient(gray,lightgray, gray);
    width: 100%;
    /* top: 100px;
    left: 0; */
    line-height: 50px;
    font-size: 12pt;
    font-weight: 600;
}
a.hl-subheader-links{
    width: 5%;
    text-decoration-line: none;
    background-image: linear-gradient(gray,lightgray, gray);
    padding: 1% 4%;
    color: rgb(43, 43, 43);

}
a.hl-subheader-links:hover{
    color: rgb(0, 132, 68) !important;
    background-image: linear-gradient(gray,rgb(197, 197, 197), gray);
}

a.hl-subheader-links:active{
    color: white;
}
.padding-top{
    padding-top: 125px;
    background-position: center 125px!important;
}
div.hl-body{
    display: block;
    background-image: url("HL-Collage-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 120px;
    background-attachment: fixed;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-top: 140px;
    margin: auto;
}
div.hl-body-container{
    display: block;
    width: 80%;
    background-color: lightgray;
    color: black;
    border-radius: 40pt;
    border: 1pt solid black;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
}
div.hl-registration{
    display: block;
    margin: 0 25%;
    background-image: url("Bobcat\ Logo\ Washed\ Out.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    background-position: center;
    justify-content: center;
    align-items: center;
}
div.hl-registration-whole{
    display: block;
    width: 75%;
    min-height: 50px;
    background-color: transparent;
    margin: 0 auto;
}
.hl-registration-title{
    display: inline-block;
    width: 20%;
    color: white;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(0, 132, 68);
}
.hl-registration-input{
    display: inline-block;
    width: 79%;
    size: 35;
    border: 1px solid white;
    color: white;
    background-color: lightgray;
}
div.registration-buttons{
    display: flex; 
    width: 60%; 
    justify-content: space-between;
    object-position: top;
    margin: 0 auto;
}
button.registration-button{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 6pt;
    cursor: pointer;
}
.hide{
    display: none !important;
}
.successMessage{
    color: rgb(0, 78, 0);
    background-color: rgb(208, 235, 208);
    border: 1pt solid rgb(0, 78, 0);
    border-radius: 12pt;
    font-size: 16pt;
    text-align: center;
    margin: 40px 35%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.failureMessage{
    color: rgb(78, 0, 0);
    background-color: rgb(245, 206, 206);
    border: 1pt solid rgb(78,0, 0);
    border-radius: 12pt;
    font-size: 16pt;
    text-align: center;
    margin: 40px 35%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button{
    text-decoration: none;
    color: inherit;
}
.button:hover{
    text-decoration: none;
    color: initial;
}
.table-border{
    border: 1pt solid gray;
}
.table-separation{
    background-color: gray;
}
.spaceAbove{
    margin: 20px 0 auto 0;
}
.spaceBelow{
    margin: 0 0 40px 0;
}