html.body{
    margin: 0;
    padding: 0;
}
hr{
    border: 0.5px solid black;
}
.centerText{
    text-align: center;
}
div.hl-header{
    position: fixed;
    z-index: 9999;
}
div.hl-header-main{
    display: flex;
    /* background-image: linear-gradient(rgb(0, 28, 14), rgb(0, 132, 68), rgb(0, 28, 14)); */
    background-image: linear-gradient(to right, rgb(0, 80, 40), rgb(0, 132, 68), rgb(0, 80, 40));
    color: white;
    width: 100%;
    height: 75px;
}
div.hl-header-left{
    display: inline-flex;
    align-items: center;
    width: 80%;
    font-size: 25pt;
    font-family: 'Courier New', Courier, monospace;
    
}
a.hl-header-left{
    text-decoration: none;
    color: white;
}
div.hl-header-right{
    display: inline-flex;
    justify-items: right;
    align-items: center;
    width: 20%;
    font-size: 18pt;
    font-family: 'Courier New', Courier, monospace;
}
a.hl-header-right{
    text-decoration: none;
    color: rgb(218, 218, 218);
    padding-right: 7%;
}
a.hl-header-right:hover{
    color: white;
}
div.hl-subheader{
    display: block;
    background-color: lightgray;
    width: 100%;
    /* top: 100px;
    left: 0; */
    line-height: 50px;
    font-size: 12pt;
    font-weight: 600;
}
div.hl-body{
    display: flex;
    background-image: url("HL-Collage-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 120px;
    width: 100%;
    height: 675px;
    padding-top: 140px;
    justify-content: center;
    align-items: center;
}
div.hl-home-body-logo{
    display: inline-flex;
    background-image: url("Black\ Paw\ Transparent\ Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25%;
    height: 200px;
    z-index: 5;
    justify-content: center;
    align-items: center;
}
div.hl-body-container{
    display: block;
    width: 80%;
    background-color: lightgray;
    color: black;
    border-radius: 40pt;
    border: 1pt solid black;
    text-align: center;
    height: fit-content;
}
div.hl-registration{
    display: block;
    margin: 0 25%;
    justify-content: center;
    background-image: url("Bobcat\ Logo\ Washed\ Out.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
}
div.hl-registration-whole{
    display: block;
    width: 75%;
    height: 50px;
    background-color: transparent;
    margin: auto;
}
.hl-registration-title{
    display: inline-block;
    width: 20%;
    color: white;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(0, 132, 68);
}
.hl-registration-input{
    display: inline-block;
    width: 79%;
    size: 35;
    border: 1px solid white;
    color: white;
    background-color: lightgray;
}
div.registration-buttons{
    display: flex; 
    width: 60%; 
    margin: auto; 
    justify-content: space-between;
}
button.registration-button{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 6pt;
}
