/* NAVBAR */
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.my-nav {
  background-color: #3b3e4b;
}

.my-nav-container {
  max-width: 1000px;
}

nav * {
  color: #7f8291;
}

nav div {
  margin: 0 left;
}

.support-links {
  background-color: transparent;
  text-align: center;
  max-width: 1000px;
}

.support-links .chat {
  background-color: #ebad06;
  color: white !important;
}

.support-links .email {
  background-color: #00b2ee;
  color: white !important;
}

.support-links .number {
  background-color: #ee7541;
  color: white !important;
}

.fa-search {
  background-color: #3b3e4b;
  margin-top: -15px;
  font-size: 1.5em;
  padding-top: 18px;
}

.my-navbar-right {
  text-align: left;
}

.my-navbar-right * {
  margin: 0 10px;
}

.my-navbar-main {
  padding: 30px;
}

.my-navbar-main a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s all;
}

.my-navbar-main a:hover {
  color: white;
}

.nav-logo {
  width: 95px;
  height: 95px;
  float: left;
}

.my-navbar-nav {
  float: left;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
}

/* BODY */
.rocket-pic {
  margin-left: 15px;

}
.stars-pic {
  width: 800px;
  height: 338px;
  
}

.astro-pic {
  width: 500px;
  height: 338px;
}
.par-pic {
  width: 500px;
  height: 338px;
}
.missile-pic {
  width: 1600px;
  height: 750px;
  padding 100%;
}

.cars-slide{
    width: 1000px !important; 
}

.full-color{
   background-color: #000000;
   color: #7f8291;
}
.par-tag{
  text-align: justify;
  font-size:20px;

}

p{
}

.starship-photo{
  width: 500px;
  height: 338px;
}

.foot-tag{
  font-size:25px;
}

a{
  color: silver;
}
/* Sample stuff to attempt to recreate */
.content-inner {
  max-width: 100% !important;
  padding: 0 !important;
}
.collection-type-index .content-inner.has-content {
  padding: 40px !important;
}

.customer-support {
  background-image: url(Pictures/missile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ee7541;
  min-height: 500px;
  color: white;
  text-align: center;
}

