.html, body {
    max-width: 100%;
    overflow-x: hidden;
	padding: 0;
	margin: 0;
	background-color: white;
	background: url("../images/roane_logo.png") no-repeat center center fixed !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	background-size: 1065px 1065px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    background-blend-mode: lighten;
}

/* Start nav */
#nav-register-active {
	font-size: 22px;
	color: white;
    border-style: solid;
    border-width: 1px;
	border-color: black;
	padding-left: 250px;
	padding-right: 200px;
	background-color: red;
}

#nav-register {
	font-size: 22px;
	color: white;
	border-style: solid;
    border-width: 1px;
	border-color: black;
	padding-left: 250px;
	padding-right: 200px;
	background-color: grey;
}
/* End nav */

/* Bottom buttons */
#home-button {
	position: absolute;
	bottom: 0rem;
	right: 10rem;
	z-index: 999999;
	font-size: 26px;
	height: 50px;
	width: 15rem;
	background-color: red;
	border: 1px solid black;
	text-align: center;
}

#home-button a {
	text-decoration: none;
	color: white;
}

#goback-button {
	position: absolute;
	bottom: 0rem;
	left: 10rem;
	z-index: 999999;
	font-size: 26px;
	height: 50px;
	width: 15rem;
	background-color: red;
	border: 1px solid black;
	text-align: center;
}

#goback-button a {
	text-decoration: none;
	color: white;
}
/* End bottom buttoms */