a.logo{
    background-image:   url(logo.png);
    height: 100%;
    width: 155px;
    z-index: 100000000;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999999px;
}

ul li{
    font-size: 14px;
}

ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
}

p{
    color: #6b6b6b;
    padding: 0;
    margin: 0;
    line-height: 12px;
}

.btn{
    background:    #cc6c08;
    border-radius: 0px 10px 0px 10px;
    padding:       8px 20px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    font-style: italic;
}

.classname {
	background-color:#ee7541;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
    text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
    height:36px;
	line-height:36px;
    width:123px;
	text-decoration:none;
	text-align:center;
}
.classname:hover {
	background-color:#3e4245;
}
.classname:active {
	position:relative;
	top:1px;
}

.col-xs-3{
    text-align: left;
    padding-top:50px;
}

h2{
    color: grey;
}