
a.logo{
    background-image:   url(logo.png);
    height: 100%;
    width: 155px;
    z-index: 100000000;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999999px;
}

ul li{
    font-size: 14px;
}

ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
}

p{
    color: #6b6b6b;
    padding: 0;
    margin: 0;
    line-height: 12px;
}

.btn{
    background:    #cc6c08;
    border-radius: 9px;
    padding:       8px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          italic 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}

