html, body {
    margin: 0 auto; 
    padding: 0 auto;
    background: silver; 
    color: rgb(4, 4, 63);
    font-family: -webkit-body;
    font-size: 17px;
}
#header{
    background:rgb(2, 2, 59);
    color:silver;
    display: inline-block;
    margin: 0 auto;
    padding: 0 auto;
    width: 46%;
    height: 85px;
}
td, th, tr { 
    align-self: center;
    width:10%;
    border: 2px; 
    border-color: rgb(4, 4, 48);
    box-sizing: border-box; 
    text-align: center;
    font-size: 19px;
}
p.SignupForm{
    text-indent: 1em;
}
textarea.message {
    width: 50%;
    height: 100px;
}