.top{
    position: fixed;
    width: 100%;
    z-index: 999999;
    height: 120px;
}

.navi1{
    display: flex;
    background-color: maroon;
    height: 80px;
}

.roaneschools{
    flex: 70%;
    padding-top: 10px;
    margin-left: 10px;

}

img#roanewhite{
    height: 60px;
    width: 60px;
}

p#county{
    color: white;
    font-size: 24pt;

}

.logins{
    flex: 30%;
    display: inline;
    text-align: right;
    margin: 20px;
}

li{
    display: inline;
    margin: 20px;
}

a#logins{
    color: white;
    font-size: 18pt;
    font-weight: 700;

}


/* Section Applies to navbar */
.navi2{
    height: 40px;
    background-color: silver;
}

.nav-link{
    color:black;
    width: 150px;
    text-align: center;
}

.nav-link.active{
    background-color: #666666;
    color: white;
}

.nav-link:hover{
    background-color: grey;
    color: maroon;
}

.main1{
    display: flex;
    text-align: center;
    position: relative;
}

img#RoaneRaiders{
    height: 250px;
    width: 250px;
}

.one{
    flex: 20%;
    margin-top: 330px;
}

.two{
    flex: 60%;
    background-color: silver;
    border-radius: 80px;
    margin-top: 180px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: black;
    border-style: solid;
    opacity: .9;
}

div.container{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18pt;
}

.three{
    flex: 20%;
    margin-top: 330px;
}

/* Registration Page */

div#names{
    display: inline;
}

form input{
    border-radius: 10px;
    margin: 3px;
}

input#zip{
    width: 125px;
}

input#street{
    width: 490px;
}

input#city{
    width: 275px;
}

select#state{
    width: 75px;
    height: 42px;
}

div#pass{
    display: inline;
}

/* Password Complexity*/

#message {
    color: #000;
    position: relative;
    margin-top: 10px;
    text-align: left;
    margin-left: 35%;
}

#message p {
    font-size: 14px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
/* Buttons on Register Page */
.footer input{
    display: inline;
    margin-top: 20px;
}


