.formhead{
    display: flex;
    margin-top: 3%;
}

.logo{
    flex: 50%

}

title{
    flex: 50%;
}

p#title{
    text-align: right;
    font-size: 20pt;
    font-weight: 700;
}

table#studentinfo{
    width: 100%;
    text-align: center;
}

td{
    border: 1px solid black;
    text-align: left;
}

th{
    background-color: black;
    color: white;
}



