html a, button{

    cursor: pointer !important;

}
.nav {

    position: fixed;
    z-index: 999999;

}

.nav a {

    display: block;
    float: left;
    background: linear-gradient(rgb(70,81,201) 0%, rgb(17,22,131) 90%);
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 45px;
    line-height: 45px;
    padding-left: 10.7px;
    padding-right: 10.7px;
    text-align: center;
    -webkit-text-fill-color: #E3B11F;

}

.active{

    background-image: none !important;
    background-color: #E3B11F !important;
    -webkit-text-fill-color:  #111683 !important;


}

.subdir {

    float: left;
    overflow: hidden;
    

}

.subdir .subdirbtn {

    border: none;
    outline: none;
    display: block;
    background: linear-gradient(rgb(70,81,201) 0%, rgb(17,22,131) 90%);
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 45px;
    line-height: 45px;
    padding-left: 10.7px;
    padding-right: 10.7px;
    text-align: center;
    -webkit-text-fill-color: #E3B11F;


}

.nav a:hover:not(.subdir-box-title), .subdir:hover .subdirbtn {

    background-image: none;
    background-color: lightblue !important;
    -webkit-text-fill-color: white;
    text-decoration: none;
    
}

.subdir-box {

    float: left;
    width: 353.33333px;
    height: auto;
    background: rgba(255, 255, 255, .3);
    border-radius: 15px;
    margin: 5px;
    

}

.subdir-box-title {

    text-decoration: none !important;
    background-color: white !important; 
    color:#111683 !important; 
    border-top-left-radius: 15px !important; 
    border-top-right-radius: 15px !important;

}

.subdir-box-title:hover {

    color: #e3b11f !important;

}

.subdir-content{

    display: none;
    position: absolute;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3b11f), color-stop(100%,#e0ce9d));
    width: 1100px;
    padding: 20px 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.subdir-content a {
    
    all: initial;
    float: left;
    color: #111683;
    height: 20px;
    width: 343.3333;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
    margin-right: 10px;
    
}

.subdir-content a:hover:not(.subdir-box-title){

    -webkit-text-fill-color: #E3B11F;
    background-color: #111683 !important;

}

.subdir:hover .subdir-content, .subdir-box {
    
    display: block;

}

.subdir-content input {

    align-content: right;

}





.left-col {

    background: linear-gradient(to bottom, #e3b11f 0%, #e0ce9d 100%);
    width: 1100px;
    height: 1543px;
    padding-right: 880px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
  

}

.service-links{

    text-align: right;
    color: #111683;
    padding-right: 5px;
    display: block;

}

.service-links:hover{

    background-color: #111683;
    color: white !important;
    text-decoration: none;
    

}

.mid-col {

    background-color: white;
    width: 880px;
    height: 1400px;
    padding-left: 20px;
    padding-right: 300px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    margin-left: 220px;
    

}

.right-col {

    background: linear-gradient(to bottom, #5392ce 0%, #dde9f5 100%);
    width: 260px;
    height: 927px;
    padding-right: 25px;
    padding-left: 25px;
    position: absolute;
    z-index: 10;
    margin-left: 820px;
    top:135;

}

table {

    border-radius: 10px;
    
}

tbody {

    background-color: #B7D1EB;

}

th, td {

    text-align: center;

}


.my-footer {

    background-color: white;
    color: grey;
    font-size: 13px;
    text-align: center;
    width: 880px;
    height: 133px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    position: absolute;
    z-index: 999;
    margin-left: 220px;
    margin-top: 1410px;
    
}

.my-footer ul {

    list-style-type: none;
    padding-left: 75px;

}

.my-footer li {

    font-size: 15px;
    float: left;
    padding-right: 5px;
    padding-left: 5px;

}
.my-footer li a {

    color: #111683;
    text-decoration: underline;
    align-content: center;

}
