html, body {
    margin: 0; 
    padding: 0;
    background: silver; 
    color: rgb(4, 4, 63);
    font-family: -webkit-body;
    font-size: 17px;
    display: inline;
}
label.labelHeader
{
    font-weight: bold;
}
table.classTables
{
    display: inline-block;
}

td, th, tr { 
    align-self: center;
    width:10%;
    border: 2px; 
    border-color: rgb(4, 4, 48);
    text-align: center;
    font-size: 19px;
    background: rgb(216, 216, 216);
}
div.SignupForm{
    margin: 0 405px;

}
p.Home{
    text-indent: 1em;
}
textarea.message {
    width: 50%;
    height: 100px;
}
div.btn
{
    background: rgb(231, 231, 231);
    color: rgb(4, 4, 63);
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 19px;
}
