html, body {
    margin: 0; 
    padding: 0;
    background: silver; 
    color: rgb(4, 4, 63);
    font-family: -webkit-body;
    font-size: 17px;
}

td, th, tr { 
    align-self: center;
    width:10%;
    border: 2px; 
    border-color: rgb(4, 4, 48);
    box-sizing: border-box; 
    text-align: center;
    font-size: 19px;
}
p.SignupForm{
    text-indent: 1em;
}
p.Classes{
    text-indent: 1em;
}
p.Home{
    text-indent: 1em;
}
textarea.message {
    width: 50%;
    height: 100px;
}