body{
    margin: 0;
    padding:0;
    border: 0;
}

.content{
    text-align: center;
    width: 60%;
    height: 90%;
    position: absolute;
    margin: 50px 20% 0 20%; 
    background-color: white;
    border: 3px solid black;
    border-radius: 20px 20px;
    opacity: .9;
}
.content h1{
    margin: 15 0 0 0;
    font-size: 40px;

}

.content p{
    font-size: 20px;
}
#step1{
    visibility: visible;
    width: auto;
    height: auto;
    
}

#step2{
    visibility: hidden;
    width: 0;
    height: 0;
}
#step3{
    visibility: hidden;
    width: 0;
    height: 0;
}


.progressBar{
    width: 90%;
    margin: auto;
    margin-top: 15px;
    
}
.form{
    display: block;
    width: 86%;
    height: 100%;
    margin: 0 7% 0 7%;
    
}
.formH2{
    background-color: orange;
    width: 300px;
    height: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15 0 15 0;
}
.formH3{
    background-color: orange;
    width: 100px;
    height: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15 0 15 0;
}
.formH4{
    background-color: orange;
    width: 100px;
    height: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15 0 15 0;
}


.formInput{
    width: 400px;
    height: 75px;
    background-color: black;
    color: orange;
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.formInput2{
    width: 600px;
    height: 75px;
    background-color: black;
    color: orange;
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.formInput2{
    width: 600px;
    height: 75px;
    background-color: black;
    color: orange;
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.formInput4{
    width: 100px;
    height: 75px;
    background-color: black;
    color: orange;
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.invalid{
    color: red;
    font-weight: bold;
    text-align: justify;
    margin: 0 0 0 215px

}
.valid{
    color: black;
    text-align: justify;
    margin: 0 0 0 215px
}
.submitButton{
    display: block;
    height: 50px;
    width: 150px;
    margin: 0 0 0 659;
    border-radius: 10px 10px;
    
}

