body {margin:0;}
         
.navbar {
          
    overflow: hidden;
    
    background-color:royalblue;
    
    top: 0;
    
    width: 100%;

    margin-right: 15%;
    
}
   
li{
    list-style:none;
}

.navbar a {

    float: left;

    display: block;

    color: yellow;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    font-size: 12px;

}



.navbar a:hover {

    background: #ddd;

    color:white;

}


.main {

    padding: 16px;

    margin-top: 30px;

    height: 1500px; /* Used in this example to enable scrolling */
}

.container  {
    margin-left: 10%;
    margin-right: 10%;
}

.btn{
    width: 160px;
    margin-left: -35px;
}