
.topnav{
  background-color: #111683;
  background: linear-gradient(to bottom,  #4651c9 0%,#111683 90%);
  height: 45px;
  position: fixed;
  z-index: 9999999;
}

a.nav-link{
  font-size: 12px;
  font-weight: 700;
  color: #E3B11F;
  margin-left: -6px;
  padding-top: 12px;
}

a.nav-link.active{
  background-color: #E3B11F;
  color: #111683;
  height: 45px;
  margin-left: 0px;

}

div#left.column{
  background-color:#E3B11F;
  background: linear-gradient(to bottom,#E3B11F 0%, rgb(255, 234, 118) 90%);
  height: 1600px;
  width: 230px;
  margin-left: -22px;
  opacity: .9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

img#bell{
  padding-left: 5px;
  padding-top:120px;
  position: fixed;
  z-index: -1;
}

div#leftnav{
  padding-top: 310px;
}

li{
  list-style: none;
}

a.left-nav{
  color: #111683;
}

ul#leftnav{
  text-align: right;
  font-size: 13px;
  padding-right: 9px;
}

img#btn{
  padding-top: 20px;
  padding-left: 6px;
}

.logo{
  padding-left: 634px;
  margin-top:-348px;
}

img#grad{
  width: 874px;
  padding-top: 45px;
  z-index: -1;
}

.main{
  background-color:white;
  height:1350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.footer{
  height: 140px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5px;
}

div#small.column{
  background-color: #5392ce;
  height: 600px;
  z-index: 9999999999;
  width: 250px;
  border-radius: 20px;
  margin-top: -1000px;
  margin-left: 600px;
}