/* 
div {
  border: 1px solid black;  
} */

body {
    background-color: #262626;
    color: gray; 
    text-align: justify;
    text-justify: inter-word;
}

#navbar {
  overflow: hidden;
  background: #000000;     
  position: fixed; 
  top: 0; 
  width: 100%; 
  /* padding: 5px;  */
  /* margin-top: 0px;  */
  z-index: 20;
}

.header ul {
  list-style-type: none;
  padding: -5px;
  margin: 5px;    
  /* width: 100%;  */
  display: inline;
}
  
li {
  display: inline-block; 
  padding: 0px 10px; /*what do these #s do?*/
}

.clmLft {
  /* display: inline-block;   */
  width: 25%;
  text-align: left;
  float: left;    
}

.clmMid {
  width: 25%;
  position: fixed;
  /* top: 50px; */
  z-index: 999;
  padding: 10px;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.clmRgt {
  /* display: inline-block;     */
  width: 25%;
  text-align: right;  
  float: right;  
} 

/* .rckLft {
  display: block; */
  /* width: 33%; */
  /* padding: 0 10px 0 0; */
  /* float: left;
}

.rckRgt {
  display: block;
  width: 66%; */
  /* background-image: url("images/stars-background.png"); */
  /* padding: 0 10px 0 0; */
  /* background-size: cover;  */
  /* border: 1px solid black;   */
  /* float: right; */
/* } */

/* #rckLft, #rckRgt{
  display: flex;
  justify-content: space-evenly;
} */

#recruitText{
  text-align: justify;
  text-justify: inter-word;
  background-color: #404040;
  color: #ffffffd7;
}





#missle{
  width: 100%;
  /* height: auto; */
  /* display: flex; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




footer{
  overflow: hidden;
  background-color: #000000;     
  /* position: fixed;  */
  top: 0; 
  width: 100%; 
  /* padding: 5px;  */
  /* margin-top: 0px;  */
  z-index: 20;
}
