body.wvupark
{
    background: rgb(190, 190, 250);
    margin: 0 120px;
}
a.social-media{
    display: inline-block; 
    background-color: #ffffff00; 
    width: 17%;
}
a{
    display: inline-block; 
    background-color: #efaf30; 
    color: #141a8f; 
    text-decoration: none;
    }
    a:hover{
        background: #32359b !important;
        color: white;
        text-decoration: none;
    }
    a.header{
        background-image: linear-gradient(#3a3fac, #141a8f); 
        color: #efaf30;

    }
    a.header:hover{
        background: #32359b;
        color: white;
        text-decoration: none;
    }
    a.header:active{
        display: inline-block; 
        background-color: #efaf30; 
        color: #141a8f; 
        text-decoration: none;
    }
    a.announcement{
        color: #141a8f;
        background-color: white;
    }
    a.announcement:hover{
        color:rgb(54, 54, 54) !important;
        background-color: white !important;
    }
    .grad{
        background-image: linear-gradient(#3a3fac, #141a8f)
    }