html, body{
    background-color: vividblue;
}

#Education{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

#Work Experience{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
